### 1

In [84]:
import numpy as np
ar = np.array([[1, 2, 3, 3, 1],
               [6, 8, 11, 10, 7]], dtype=float).transpose()
mean_a = ar.mean(axis=0)
mean_a

array([2. , 8.4])

### 2

In [87]:
a_centered = ar - mean_a[np.newaxis, :]

### 3

In [96]:
a_centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1]) / a_centered.shape[0]

### 4

In [91]:
np.cov(ar.transpose())

array([[1. , 2. ],
       [2. , 4.3]])

### Pandas
### 1

In [3]:
import pandas as pd
authors = pd.DataFrame({'author_id': [1, 2, 3],
                       'author_name': ['Тургенев', 'Чехов', 'Островский']})
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                     'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price': [450, 300, 350, 500, 450, 370, 290]})

### 2

In [4]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')

### 3

In [40]:
top5 = authors_price.sort_values(by='price', ascending=False)
print(top5[:5])

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### 4

In [78]:
group = authors_price.groupby("author_name")
author_stat =group.agg({"price": ['max', 'min', 'mean']})
author_stat

            price
              max  min        mean
author_name
Островский    370  290  330.000000
Тургенев      450  300  366.666667
Чехов         500  450  475.000000